beautifulsoup4==4.6.3
twython==3.7.0
gensim==3.4.0
ipykernel==4.9.0
ipython==6.5.0
jupyter==1.0.0
jupyter_client==5.2.3
jupyter_console==5.2.0
jupyter_core==4.4.0
jupyterlab==2.0.0
jupyterlab_launcher==0.13.1
matplotlib==2.2.3
networkx==2.1
nltk==3.3.0
numpy==1.15.1
pandas==0.23.4
pip==19.2
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
click==7.0
html2text==2018.1.9
msgpack==0.5.6
tables==3.4.4
tweepy==3.6.0
twitter==1.18.0
pyyaml==5.4
stackapi==0.1.9
selenium==3.141.0
praw==6.1.0